<div id="sidebar" class="active">
  <div class="sidebar-wrapper active ps ps--active-y">
    <div class="sidebar-header pb-0">
      <div class="d-flex justify-content-between">
        <div class="logo">
          <div class="dropdown">
              <a href="#" class="dropdown-toggle" 
                data-bs-toggle="dropdown" 
                aria-expanded="false"
                style="text-decoration:none;">
                <h3>Indication Plus +</h3>
              </a>
            <div class="dropdown-menu bordered">
              <a class="dropdown-item" href="#" @click="logout">Logout</a>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <img v-if="myProfile.profile" class="rounded-circle ml-2" style="height:60px;width:60px;" :src="'http://127.0.0.1:8000/'+myProfile.profile" />
            </div>
            <div class="col-8">
              <label class="align-top" style="font-size:18px;">
                {{myProfile.name}}
                <a class="" style="font-size:14px;text-decoration:none;" href="#" @click="logout">Logout</a>
              </label>
            </div>
            
          </div>
        </div>
        <div class="toggler">
          <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
        </div>
      </div>
    </div>
    <div class="sidebar-menu">
        <ul class="menu ">
          <li id="dashboard" class="sidebar-item">
            <a href="http://localhost:8080/admin/Dashboard" class="sidebar-link">
              <i class="fas fa-tachometer-alt"></i>
              <span>Dashboard</span>
            </a>

          </li>

          <li id="case" class="sidebar-item">
            <a href="http://localhost:8080/admin/indication-plus" class="sidebar-link">
              <i class="fas fa-home"></i>
              <span>Indication Plus</span>
            </a>
          </li>
          <li id="case-create" class="sidebar-item">
            <a href="http://localhost:8080/admin/indication-plus/create" class="sidebar-link">
              <i class="far fa-plus-square"></i>
              <span>Create Indication</span>
            </a>
          </li>
          <li id="user" class="sidebar-item">
            <a href="http://localhost:8080/admin/users" class="sidebar-link">
              <i class="fas fa-user-friends"></i>
              <span>User</span>
            </a>
          </li>
          <li id="user-create" class="sidebar-item">
            <a href="http://localhost:8080/admin/user/create" class="sidebar-link">
              <i class="far fa-plus-square"></i>
              <span>Create User</span>
            </a>
          </li>
        </ul>
    </div>
    <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    <div class="ps__rail-x" style="left: 0px; bottom: 0px">
      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px"></div>
    </div>
    <div class="ps__rail-y" style="top: 0px; height: 969px; right: 0px">
      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 568px"></div>
    </div>
  </div>
</div>
