<adminLayout>
  <div class="col-12">
    <div class="card mb-4 p-4">
      <div class="card-body px-0 pt-0 pb-2">
        <h1>User</h1>
          <div class="row">
            <div class="col-md-9">
              <a href="http://localhost:8080/admin/user/create" type="button" class="btn btn-primary btn-md mb-4">+ Add</a>
            </div>
            <div class="col-md-3 pb-3">
              <label class="">Search</label>
              <input type="text"  v-model="search" class="form-control" placeholder="Search here..."/>
            </div>
          </div>
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0 table-bordered table-striped">
              <thead>
                <tr>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" v-for="(col, ind) in columns"> 
                    <div class="d-flex justify-content-between">
                      <div>{{col.text}}</div>
                      <div>
                        <template v-if="sort.column === col.name && sort.by === 'asc'">
                          <i class="fa fa-sort-up" @click="sort = {column: col.name, by: 'desc'}"></i>   
                        </template>
                        <template v-else-if="sort.column === col.name && sort.by === 'desc'">
                          <i class="fa fa-sort-down" @click="sort = {column: col.name, by: ''}"></i>   
                        </template>
                        <template v-else>
                          <i class="fa fa-sort"  @click="sort = {column: col.name, by: 'asc'}"></i>
                        </template>
                      </div>
                    </div>
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"> Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(entry, index) in sortedArray()" :key="index">
                  <td class="align-middle text-center" v-for="(column, ind) in columns" :key="ind">
                    <span class="text-secondary text-md font-weight-bold">{{entry[column.name]}}</span>
                  </td>
                  <td class="align-middle text-nowrap">
                    <a :href="'http://localhost:8080/admin/user/show?id='+entry.id" 
                      class="btn btn-primary btn-sm text-white font-weight-bold text-md pl-1" 
                      data-toggle="tooltip" data-original-title="Show Indication">
                      <i class="fa fa-eye"></i>
                    </a>
                    <span class='p-2'>
                      <a :href="'http://localhost:8080/admin/user/edit?id='+entry.id" 
                          class="btn btn-success btn-sm text-white font-weight-bold text-md pl-1" 
                          data-toggle="tooltip" 
                          data-original-title="Edit Indication">
                          <i class="fa fa-edit"></i>
                      </a>
                    </span>
                    <button @click.prevent="deleteItem(entry.id)" 
                            :href="'http://localhost:8080/admin/user/delete/'+entry.id" 
                            class="btn btn-danger btn-sm text-white font-weight-bold text-md" 
                            data-toggle="tooltip" 
                            data-original-title="Delete Indication">
                            <em class="fas fa-trash-alt"></em>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content align-item-stretch mt-4">
              <div class="d-flex align-items-center" style="margin-top:-17px;">
                <div class="me-2">Show</div>
                <select class="form-select" v-model='limitPerPage' style="width: 80px">
                  <option :value="5">5</option>
                  <option :value="10">10</option>
                  <option :value="25">25</option>
                  <option :value="50">50</option>
                  <option :value="100">100</option>
                </select>
                <div class="ms-2">Form {{pageInfo.pre_page}} to {{pageInfo.page}} of {{pageInfo.total}} entries</div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</adminLayout>
