<guestLayout>
  <div class="row mt-lg-n10 mt-md-n11 mt-n10">
    <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
      <div class="card z-index-0">
        <div class="card-header text-center pt-4">
          <h5>Login</h5>
          <p class="text-sm font-weight-bold mb-2 text-secondary text-border d-inline z-index-2 bg-white px-3 mt-2">Enter your email and password to sign in.</p>
        </div>
        <div class="card-body">
          <!-- <form role="form text-left" id="login">
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Username" aria-label="username" v-model="name" />
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Email" aria-label="Email" v-model="email" />
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Password" aria-label="Password" v-model="password"/>
            </div>
            <div class="text-center">
              <button type="button" class="btn bg-gradient-dark w-100 my-4 mb-2" @click="register">Sign up</button>
            </div>
            <p class="text-sm mt-3 mb-0 text-center">Do have an account? <a href="http://localhost:8080/admin/login" class="text-dark font-weight-bolder">Sign in</a></p>
          </form> -->
          <form v-on:submit.prevent="register" autocomplete="off" id="Form">
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="name">Username</label>
                <div class="input-group">
                  <input type="text" id="name" placeholder="Username" class="form-control" :class="{ 'is-valid': validation.valid.name, 'is-invalid': validation.invalid.name }" v-on:focus="clearValidation('name')" v-model="name" />
                  <div class="valid-feedback" v-if="validation.valid.name">{{ validation.valid.name }}</div>
    
                  <div class="invalid-feedback" v-if="validation.invalid.name">{{ validation.invalid.name }}</div>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="email">Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="email">@</span>
                  </div>
                  <input type="email" id="email" placeholder="Email" class="form-control" :class="{ 'is-valid': validation.valid.email, 'is-invalid': validation.invalid.email }" v-on:focus="clearValidation('email')" v-model="email" />
                  <div class="valid-feedback" v-if="validation.valid.email">{{ validation.valid.email }}</div>
    
                  <div class="invalid-feedback" v-if="validation.invalid.email">{{ validation.invalid.email }}</div>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="Password">Password</label>
                <input id="password"  type="password" placeholder="Password" class="form-control" autocomplete="false" 
                      v-bind:class="{ 'is-valid': validation.valid.password, 'is-invalid': validation.invalid.password }" 
                      v-on:focus="clearValidation('password')" v-model="password"
                />
                <div class="valid-feedback" v-if="validation.valid.password">{{ validation.valid.password }}</div>
                <div class="invalid-feedback" v-if="validation.invalid.password">{{ validation.invalid.password }}</div>
              </div>
              <div class="col-sm-12">
                <button class="btn btn-primary" type="submit">Sign in</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> 
</guestLayout>
