.margin-bottom {
  margin-bottom: 15px;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
} 
.input, select{
  width: 350px!important;
  padding: 4px;
}
.field{
  padding: 4px;
}
